$red: #FD1015;
$blue: #167FFB;
$lightblue: #17a2b8;
$light-brown: #ee964b;
$orange: #E67E22;
$green: #80b918;
$gray: #0E0000;
$light-gray: #F4F4F4;

$m-brown-d: rgb(38,27,34);
$m-brown: rgb(201,129,48);
$m-yellow: #FFC65A;
$m-green: rgb(21,97,54);
$m-green-l: rgb(101,141,40);
$m-pink: rgb(249,187,186);
$m-red-m: rgb(160,56,57);
$m-blue-l: rgb(109,148,223);
$m-blue-d: rgb(16,81,226);

$m-blue: rgb(90,107,120);
$m-red: rgb(219,0,30);
$m-red-d: rgb(129,0,16);
