.container.my-garden {
  width: 70%;
}

.my-garden .title {
  text-align: center;
}

.my-garden .token {
  p {
    background: lightgray;
    border-radius: 4px;
    width: 50%;
    padding: 0.25rem 1.25rem;
  }
}
