.container.my-garden {
  width: 70%;
}

.my-garden .title {
  text-align: center;
}

.content.token {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightgray;
  border-radius: 3px;
  width: 50%;
  padding: 0.3rem 1.25rem;
  button {
    border-radius: 3px;
    border: none;
    opacity: 0.7;
    font-size: 0.8rem;
    &:hover {
      opacity: 1;
    }
  }
}

.plants-list {
  display: flex;
  flex-wrap: wrap;
}
