.container-plant-show {
  width: 630px;
}
.container-plant-show .container-title {
  margin: 0 auto 1.5rem;
}

.container-plant-show .container-image {
  box-shadow: 2px 4px 4px #dee2e6;
  img {
    border-radius: 4px;
  }
}
