<div class="token mb-3">
  <h4 class="py-3">API authentication token</h4>
  <div class="content token">
    <span type="text" value="api_token" id="apiToken"><%= current_user.authentication_token %></span>
    <button id="apiTokenBtn">Copy</button>
    <!-- <button id="apiTokenBtn" onclick="onclickToClipboard" >Copy</button> -->
  </div>
</div>
