<div class="container my-garden pt-5">
  <div class="title my-3">
    <h2><strong>My Profile</strong></h2>
  </div>
</div>

<div class="tab-bar pt-3">
  <div class="container tab">
    <div class="nav-fill">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="garden-plans-tab" data-toggle="tab" href="#garden-plans" role="tab" aria-controls="garden-plans" aria-selected="true">My Garden Plans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="api-info-tab" data-toggle="tab" href="#api-info" role="tab" aria-controls="api-info" aria-selected="false">API Instruction</a>
        </li>
      </ul>

    </div>
  </div>
</div>

<div class="container my-garden py-5">
  <div class="nav-fill">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="garden-plans" role="tabpanel" aria-labelledby="garden-plans-tab">
        <%= render("my_garden_plans") %>
      </div>
      <div class="tab-pane fade" id="api-info" role="tabpanel" aria-labelledby="api-info-tab">
        <%= render("api_info") %>
      </div>
    </div>

  </div>
</div>
