<div class="container">

  <div>
    <h3><strong>My Garden</strong></h3>
  </div>

  <div>
    <h5>Plants' Data Contribution</h5>
    <div>
      <% @plants.each do |plant| %>
        <%= plant.name if plant.user_id == current_user.id %>
      <% end %>
    </div>
  </div>
  <div>
    <h5>My Plant Collection</h5>
    <div>
      <% @user.collections.each do |collection| %>
        <%= collection.plant.name %>
      <% end %>
    </div>
  </div>

</div>
