<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
                           url(<%= asset_path 'banner.jpg' %>)">
  <div  class="banner-text">
    <h1>Garden plan</h1>
<!--     <p>Seeding calender</p> -->
  </div>
</div>
