<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
                           url(<%= asset_path 'banner.jpg' %>)">
  <div  class="banner-text">
    <h1>Garden plan API</h1>
    <div class="d-flex justify-content-center">
      <div class="button-w">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </div>
      <div class="button-w">
        <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
      </div>
    </div>
  </div>
</div>
