<div class="py-5 container flex-column justify-content-center">
  <div class="my-3">
    <h2 class="py-3"><strong>About Garden API</strong></h2>
    Garden Plan API is based on simple REST principles. The endpoints return plant related data in JSON format.
  </div>

  <div class="my-3 w-50">
    <h2 class="py-3"><strong>API endpoints: </strong></h2>
    <p>List all plants: /api/v1/plants</p>
    <p>List one specific plant: /api/v1/plants/[:id]</p>
    <div class="py-3">
        <strong>METHOD  ACTION</strong><hr>
        <strong>GET</strong> Retrieves resources<hr>
        <strong>POST</strong>  Creates resources (authentication needed)<hr>
        <strong>PATCH</strong> Edit and update resources (authentication needed)<hr>
        <strong>DELETE</strong>  Deletes resources (authentication needed)
    </div>
  </div>

  <div class="my-3">
    <h2 class="py-3"><strong>Authentication</strong></h2>
    Your authentication token can be found on <strong>My garden</strong> page.
  </div>
</div>
