<div class="pt-3 container flex-column justify-content-center">
  <div>
    <h2 class="p-3"><strong>Garden API</strong></h2>
    The Garden API is based on simple REST principles. The endpoints return data in JSON format about plant detail.
  </div>
  <div class="w-50">
    <h2 class="p-3"><strong>API Requests</strong></h2>
    <p>access API data through:</p>
    <p>list of all plants: domain/api/v1/plants</p>
    <p>detail of one plant: domain/api/v1/[:plant]/[:id]</p>
    <div class="p-3">
        <strong>METHOD  ACTION</strong><hr>
        GET Retrieves resources<hr>
        POST  Creates resources<hr>
        PUT Changes and/or replaces resources or collections<hr>
        DELETE  Deletes resources
    </div>
  </div>
  <div>
    <h2 class="p-3"><strong>Authentication</strong></h2>
    content to be added
  </div>
</div>
