<div>
  <div class="container d-flex justify-content-center">
    <div class="card p-3 my-5 mx-2">
      <p>Manage your garden</p>
      <%= link_to "Plants on site", plants_path %>
    </div>

    <div class="card p-3 my-5 mx-2">
      <p>Access plants API</p>
      <%= link_to "Plants API", api_path %>
    </div>
  </div>

</div>

