<div>

  <%= render 'shared/banner' %>

  <div>
    <p>Manage your planting on site</p>
    <%= link_to "Plants on site", plants_path %>
  </div>

  <div>
    <p>Check our API access</p>
    <%= link_to "Plants API", api_path %>
  </div>

</div>

