<div class="container d-flex justify-content-center w-50">
  <div class="button-lg d-flex justify-content-center">
    <%= link_to plants_path, class: "button-text" do %>
      <h5>Build your garden plan</h5>
    <% end %>
  </div>

  <div class="button-lg d-flex justify-content-center">
    <%= link_to api_path, class: "button-text" do %>
      <h5>Access our plants API</h5>
    <% end %>
  </div>
</div>
