<div class="container py-3">
  <div class="cards">
    <% if @plants == [] %>
      <p>Start contributing to the community...</p><strong><%= link_to "Add a plant", new_plant_path %></strong>
    <% else %>
      <strong><%= link_to "Add a plant", new_plant_path %></strong>
      <% @plants.each do |plant| %>
        <%= link_to "#{plant.name.capitalize}", plant_path(plant) %>
      <% end %>
    <% end %>
  </div>

</div>

