.button-b {
  background: black;
  padding: 12px 60px;
  border-radius: 4px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  &:hover {
    text-decoration: none;
    color: $yellow;
  }
}

/* ==================
  plants-index-page
====================*/
#plant-index {
  position: relative;
}

.button-add {
  position: absolute;
  top: -32px;
  right: 8px;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 4px lightgray;
  &:hover {
    box-shadow: 1px 2px 4px gray;
  }
}
