.cards-list-ms {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $green;
  border-radius: 50%;
  margin: 1.25rem;
  font-weight: bold;
  text-shadow: 1px 1px 5px lightgray;
}

.plant-size {
}
