/* ==================
  plant-show-page
====================*/
.card-lg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 4px;
  height: 120px;
  width: 280px;
  padding-bottom: 5px;
  box-shadow: 2px 4px 4px #dee2e6;
}

.card-lg-title {
  padding: 10px;
  display: flex;
  align-items: center;
}

.card-lg-detail {
  display: flex;
}

.seeding-icon {
  padding: 10px 15px;
  border-radius: 6px;
  height: 48px;
  width: 60px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.seeding-icon.indoor {
  background: $yellow;
}
.seeding-icon.outdoor {
  background: $lightblue;
  color: white;
}
.seeding-detail {
  margin-left: 12px;
}
.card-lg-list {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1.75rem;
}
