/* ==================
  plants-index-page
====================*/
.card-main {
  width: 220px;
  box-shadow: 4px 10px 10px lightgray;
  .card-m-img {
    height: 160px;
    width: 220px;
    background-repeat: no-repeat;
  }
  &:hover {
    text-decoration: none;
    box-shadow: 4px 10px 10px gray;
  }
}
.card-m-info {
  height: 60px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  .card-m-text {
    color: $m-brown-d;
    font-weight: bold;
    font-size: 20px;
  }
}

.card {
  height: 160px;
  width: 200px;
  .card-text {
    color: white;
    font-weight: bold;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
}

.cards.border-top {
  border-top: 1px solid $m-brown-d !important;
  margin-top: 1rem;
  padding-top: 2rem;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
