@import "dropzone/dist/min/dropzone.min.css";
@import "dropzone/dist/min/basic.min.css";

.form {
  background: white;
}

.dropzone {
  border: 2px dashed lightgray;
  border-radius: 10px;

  &.dz-drag-hover {
    border: 2px dashed gray;
    .dz-message {
      opacity: 0.9;
    }
  }
}
