.navbar {
  padding: 1.25rem 1.75rem;
  justify-content: space-between;
  background: $m-brown;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .nav-icon {
  img {
    width: 40px;
    margin-left: 5px;
    -webkit-filter: drop-shadow(5px 5px 8px white);
    filter: drop-shadow(5px 5px 8px white);
  }
  span {
    font-family: $m-title;
    font-size: 1.25em;
  }
}

.nav-item {
  margin-left: 30px;
  font-weight: bold;
}

.navbar-home {
  background: transparent;
  position: absolute;
  width: 100%;
}
.navbar-icon-home {
  height: 0;
  color: transparent;
}

.dropdown-menu.show {
  border-radius: 6px;
  border: none !important;
  padding: 0.5rem 0 !important;
  .dropdown-item {
    font-weight: 600 !important;
    &:hover, &:focus {
      background: rgba(255, 198, 90, 0.6);
    }
  }
}

.dropdown-divider {
  margin: 0.2rem 0 !important;
}
