/* =======================
  My garden page nav tabs
=========================*/
.container.tab {
  width: 80%;
}

.nav-tabs {
  border-bottom: 1px solid $m-brown-d !important;
  // border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-link {
  width: 76%;
  color: $m-brown-d;
  &:hover {
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid $m-brown-d !important;
    background: $m-brown !important;
    color: white !important;
    // opacity: 0.75;
  }
}

.nav-tabs .nav-link.active {
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid $m-brown-d !important;
  background: $m-brown-d !important;
  color: white !important;
}
