.navbar {
  padding: 1.25rem 1.75rem;
  justify-content: space-between;
  // background: $m-brown;
  background: transparent;
  border-bottom: 1px solid $m-brown;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .nav-icon {
  img {
    width: 40px;
    margin-left: 5px;
    -webkit-filter: drop-shadow(5px 5px 8px $m-brown);
    filter: drop-shadow(5px 5px 8px $m-brown);
  }
  span {
    font-family: $m-title;
    font-size: 1.25em;
  }
}

.nav-item {
  margin-left: 30px;
  font-weight: bold;
}

// Navbar dropdown
.dropdown-menu {
  min-width: 10rem;
  margin: 0.5rem 0 0;
}
.dropdown-menu.show {
  border-radius: 4px;
  background: $m-brown;
  border: 1px solid $m-brown !important;
  padding: 0.25rem 0 !important;
  .dropdown-item {
    color: $light-gray;
    padding: 0.25rem 1.5rem 0.25rem 2.5rem;
    &:hover, &:focus {
      background: rgba(255, 198, 90, 0.7);
    }
  }
}
.dropdown-divider {
  margin: 0.2rem 0 0 !important;
  color: $m-brown;
}

// Homepage navbar style
.navbar-dark {
  background: transparent;
  border: none;
  position: absolute;
  width: 100%;
}
