.navbar {
  padding: 0.5rem 1.5rem;
}

.navbar-garden {
  justify-content: space-between;
  background: white;
}

.navbar-garden .navbar-collapse {
  flex-grow: 0;
}

.navbar-garden .nav-icon {
  img {
    width: 40px;
    margin-left: 5px;
  }
  span {
    font-family: $m-title;
    font-size: 1.5em;
  }
}

.nav-item {
  margin-left: 30px;
  font-weight: bold;
}
