h2 {
  color: $m-brown-d;
}

.home h2 {
  color: $m-green;
}

.text-code {
  background: lightgray;
  padding: 0.2rem 1.5rem;
}
.text-title {
  font-family: $m-title;
}
.text-lg {
  font-size: 1.4rem;
}
